QPushButton#plus {
        color:white;
        font-size:15px;
        border-radius:10px;
        background-color:#1d57ff;

}

QPushButton#plus:hover {
  background-color: white;
  border : 2px solid #1d57ff;
  color: #1d57ff;
}
QPushButton#plus:pressed {
  background-color: red;
  border : none;
}
QPushButton#moins {
  background-color: orange;
  border-radius: 10px;
}

QPushButton#moins:hover {
  background-color: white;
  border : 2px solid orange;
  color: orange;
}

QPushButton#moins:pressed {
  background-color: red;
  border : none;
}
QPushButton#next:active, QPushButton#previous:active {
  color:white;
  background-color:green;
  border-radius:25px;
  font-size:20px;
  padding:10px;
  text-align: center;
}
QPushButton#next:hover, QPushButton#previous:hover {
  color : green;
  background-color : white;
  border : 2px solid green;
}
QPushButton#next:disabled, QPushButton#previous:disabled {
  color : transparent;
  background-color : transparent;
  border : 2px solid transparent;
}
QPushButton#signet {
  color:white;
  background-color:black;
  border-radius:5px;
}
QPushButton#changeStyle {
  font-size: 1px;
  border: none;
  color: transparent;
}
QWidget#page{
  background-color:grey;
}